

//colors//

$color-font:#777;//Grey use for the text and headings
$soft-cyan:#58elcl;
$soft-red:#fd7856;
$white:#fff;
$lime-green:#63cc82;

//@media query breakpoint//
$break-medium:'(min-width:768px)';
