

//colors//

$color-font:#777;//Grey use for the text and headings
$soft-cyan:#58e1c1;
$soft-red:#fd7856;
$white:#fff;
$lime-green:#63cc82;

//@media query breakpoint//
$break-medium:768px;

// font family
$font-stack-primary: 'lato', sans-serif;

//font sizes
$line-ht: 1.45em;
$font-size: 1.5em;

//size
$mrgn-top: 10px;
$mrgn-lft-10: 10px;
$mrgn-lft-20: 20px;
$pad-all-10: 10px;
$pad-tp-btm: 10px;
$pad-r-l: 30px;
$pad-lft-20: 20px;
$border-lft: 8px;
$br: 5px;

//width and min-height
$flex-full: 100%;
$flex-full-px: 100px;
$wdth-full: 100%;
$max-wdth: 100%;
$min-ht: 25px;
$max-ht: 100%;

//weight
$fw: 300;
