
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: $wdth-full;
  color: $white;
  border: none;
  padding: $pad-tp-btm 0;
  text-transform: uppercase;
  border-radius: $br;
}

.default {
  background-color: #51ddfc;
}

.error {
  background-color: #e4757a;
}

.info {
  background-color: #927bc1;
}

.success {
  background-color: $lime-green;
}

.warning {
  background-color: $soft-red;
}
