
/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
  flex-basis: $flex-full;
}

.input{
  display: block;
  width: 94%;
  margin: 10px auto 0;
  border: none;
  padding: $pad-all-10;
  border-bottom: 5px solid $soft-cyan;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
