
/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $mrgn-top;
  max-width: $max-wdth;
  max-height: $max-ht;
}

.img-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $mrgn-top;
  max-width: $max-wdth;
  padding: $mrgn-top;
  border: 1px solid #ccc;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
