// font family
$font-stack-primary: 'lato', sans-serif;

//font sizes
$line-ht: 1.45em;
$font-size: 1.5em;

//size
$mrgn-top: 10px;
$mrgn-lft-10: 10px;
$mrgn-lft-20: 20px;
$pad-all-10: 10px;
$pad-tp-btm: 10px;
$pad-r-l: 30px;
$pad-lft-20: 20px;
$border-lft: 8px;
$br: 5px;

//width and min-height
$flex-full: 100%;
$flex-full-px: 100px;
$wdth-full: 100%;
$max-wdth: 100%;
$max-ht: 100%;









/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-primary;
  color: $color-font;
  box-sizing: border-box;
}

p {
  line-height: $line-ht;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $soft-cyan;
  margin-left: $mrgn-lft-10;
}

.headline-secondary {
  font-weight: 300;
   color: $color-font;
}

.link {
  color: #51ddfc;
  font-weight: 700;
}

.blockquote {
  font-size: $font-size;
  font-weight: 300;
  font-style: italic;
  margin-left: $mrgn-lft-20;
  padding-left: $pad-lft-20;
  border-left: $border-lft solid $soft-cyan;
  border-radius: $br;
}
